<main class="main">
  <app-header></app-header>
  <section class="content">
    <div class="card">
      <div class="card-body">
        Customer
        <div class="map" *ngIf="displayMap">
          <google-map
            width="100%" height="100%"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="addMarker($event)"
            (mapMousemove)="move($event)">
            @for (position of markerPositions; track position) {
            <map-marker [position]="position" [options]="markerOptions" />
            }
          </google-map>
        </div>

        <div>Latitude: {{display?.lat}}</div>
        <div>Longitude: {{display?.lng}}</div>
      </div>
    </div>
  </section>
</main>
