<header class="header">
  <div class="header__logo hidden-sm-down">
    <h1><a href="/">Gozem</a><img src="/assets/resources/images/gozem-logo-hq.png" width="50"/>
      <br/><i class="app-title">{{"superapp" | translate}}</i></h1>
  </div>

  <div class="user" style="position: absolute;right: 0px">
    <div class="user__info">
      <img class="user__img" src="/assets/resources/images/flag.png" alt=""/>
      <div>
        <div class="user__email">{{username}}<br/>
          <a class="text-white" href="#" (click)="logout()">{{"logout" | translate}}</a></div>
      </div>
    </div>
  </div>
</header>
